.filter-label {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
    border: 1px solid #000000;
    position: relative;
    margin-bottom: 0;
}


.filter-label:hover {
    background: blueviolet;
    color: #fff;
    border: none;
}

.filter-checkbox:checked~.filter-label {
    background: #5b05ab;
    color: #fff;
    border: none;
}