.filter-item {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.filter-item:hover {
    background: blue !important;
}